
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:769px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:769px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
html{
	color: var(--blue);
	font-size: 16px;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
	line-height: 1.8;
}
a{
	color: var(--blue);
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
section,
.section{
	min-width: 1280px;
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 1280px;
	padding: 0 100px;
	margin: 0 auto;
}
/* @media screen and (min-width:1540px) {
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	.container{max-width: 1280px;}
} */
@media screen and (min-width:768px) and ( max-width:1279px) {
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--blue: #1d1f88;
	--yellow: #fff100;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }
@font-face{
	font-family: 'din';
	src:url('../fonts/DIN Condensed Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.din{ font-family: 'din', sans-serif; }
.firasans{ font-family: 'Fira Sans', sans-serif; }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.ttl_wrap{
	position: relative;
	display: inline-block;
}
.ttl_wrap .fig{
	position: absolute;
	width: 28rem;
	height: auto;
	bottom: -3.5rem;
	left: -13rem;
	z-index: 1;
}
.ttl_wrap .ttl{
	position: absolute;
	top: 50%;
	left: -3.5rem;
	transform: translateY(-50%);
	width: 100%;
	white-space: nowrap;
	text-align: center;
	color: rgba(255,255,255,.67);
	font-size: 4.6rem;
	z-index: 2;
}
.ttl_wrap p{
	position: relative;
	font-size: 1.3rem;
	z-index: 3;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

header .header_in{
	display: flex;
	align-items: center;
	padding: 3rem 3rem 1rem;
}
header .logo{
	min-width: 5rem;
	width: 5rem;
	margin-right: 1.5rem;
}
header .logo img{
	width: 100%;
	height: auto;
}
header .header_in .company_name{
	font-size: 1.2rem;
	color: var(--yellow);
}
header .header_in nav ul{
	display: flex;
}
header .header_in nav ul li{
	margin-right: 1rem;
}
header .header_in nav li a{
	position: relative;
	background: var(--yellow);
	padding: 0.5rem 1rem;
	width: 10rem;
	transform: skewX(-10deg);
	text-align: center;
	font-size: 0.9rem;
	font-weight: bold;
}
header .header_in nav li a span{
	display: inline-block;
	transform: skewX(10deg);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01{
	padding: 0 0 4rem;
}
.top01 .box{
	position: relative;
}
.top01 .box_in{
	position: relative;
	padding: 1rem;
	border: solid 10px var(--yellow);
	transform: skewX(-10deg);
	width: 90%;
	/* min-width: 1280px; */
	max-width: 1480px;
	margin: 0 auto;
	z-index: 1;
}
.top01 .box .fig{
	position: absolute;
	height: 150%;
	top: -50%;
	right: 75%;
	transform: skewX(-10deg);
	border-right: solid 10px var(--blue);
	padding-right: 1rem;
	z-index: -1;
}
.top01 .box .fig_in{
	width: 25rem;
	height: 100%;
	background: var(--blue);
}
.top01 .box_in .item{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: var(--yellow);
	height: 40rem;
	z-index: 1;
}
.top01 .box_in .txt{
	width: 100%;
	transform: skewX(10deg);
	margin-top: 5%;
	padding: 0 0 0 3rem;
}
.top01 .box_in .txt h2{
	max-width: 750px;
	/* min-width: 620px; */
	width: 57%;
}
.top01 .box_in .txt p{
	font-size: 1.1rem;
}
.top01 .box_in .img01{
	position: absolute;
	bottom: 1.5rem;
	/* right:  5%; */
	left: 50%;
	max-width: 70rem;
	width: 88%;
	transform: translateX(calc(-50% + 17rem)) skewX(10deg);
}

.top01 .img_wrap{
	position: relative;
	max-width: 1480px;
	min-width: 1280px;
	width: 90%;
	display: flex;
	align-items: flex-end;
	margin: -8rem auto 0;
	z-index: 3;
}
.top01 .img_wrap .img{
	width: auto;
	height: 16rem;
	margin-left: -1.5rem;
	transition: .3s;
}
.top01 .img_wrap .img:first-of-type{
	margin-left: -5.5rem;
}
.top01 .img_wrap .img img{
	width: auto;
	height: 16rem;
}
.top01 .img_wrap .img.small{
	height: 14rem;
}
.top01 .img_wrap .img.small img{
	height: 14rem;
}
.top01 .box02{
	margin-top: 4rem;
}
.top01 .box02 .sub_ttl{
	position: relative;
	display: inline-block;
}
.top01 .box02 .sub_ttl::before{
	position: absolute;
	content: '';
	background: rgba(255,241,0,.27);
	width: 100%;
	height: 3rem;
	top: 0.25rem;
	right: -3.5rem;
	transform: skewX(-10deg);
	z-index: -1;
}
.top01 .box02 .sub_ttl::after{
	position: absolute;
	content: '';
	background: var(--yellow);
	width: 500%;
	height: 3rem;
	top: 2rem;
	right: 0;
	transform: skewX(-10deg);
	z-index: -1;
}
.top01 .box02 .sub_ttl h3{
	font-size: 2.6rem;
	letter-spacing: 0.1rem;
}
.top01 .box02 .txt{
	margin-top: 2rem;
}
.top01 .box02 .txt h4{
	font-size: 1.8rem;
	line-height: 1.4;
	color: #000;
}
.top01 .box02 .txt p{
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}
.top01 .box02 h4 span{ color: var(--blue); }
@media screen and (min-width:769px) and ( max-width:1279px) {
	.top01 .img_wrap .img:first-of-type{
		margin-left: 0;
	}
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ トップ02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	/* transform: skewX(-10deg); */
}
.top02 .box{
	position: relative;
	padding: 4rem 0;
	/* background: var(--yellow); */
	/* transform: skewX(10deg); */
}
.top02 .box::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: var(--yellow);
	top: 0;
	left: -14%;
	transform: skewX(-10deg);
}
.top02 .box .ttl_wrap,
.top02 .box .txt{
}
.top02 .box .txt{
	position: relative;
	margin-top: 1.5rem;
	z-index: 3;
}
.top02 .box .txt h3{
	font-size: 1.4rem;
	font-weight: normal;
	margin-bottom: 1rem;
}
.top02 .box .txt h3 span{
	font-size: 1.7rem;
}
.top02 .box .txt p{
	font-size: 1.1rem;
}
.top02 .img{
	position: absolute;
	bottom: -6rem;
	left: 55%;
	width: 83%;
	max-width: 1250px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ トップ02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

